<header class="page-header">

<section class="section pages-a">
    <div class="container">
        <h1>Section A</h1>
        <p>Lorem ipsum dolor sit amet consectetur 
        adipisicing elit. Quasi fugiat aliquid natus 
        quaerat atque. Fugiat officiis laudantium maxime, 
        eaque delectus neque error non molestiae ullam, 
        ea rem dolores nostrum excepturi!
        </p>
    </div>
</section>
<section class="section pages-b">
    <div class="container">
        <h1>Section B</h1>
        <p>Lorem ipsum dolor sit amet consectetur 
        adipisicing elit. Quasi fugiat aliquid natus 
        quaerat atque. Fugiat officiis laudantium maxime, 
        eaque delectus neque error non molestiae ullam, 
        ea rem dolores nostrum excepturi!
        </p>
    </div>
</section>

<div class="section pages-c">
    
</div>

</header>
