<h1 align='center'>Listing all Posts</h1>

<% @posts.each do |post| %>
<div class='row'>
    <div class='col-xs-2'>
    </div>
    <div class='col-xs-8'>
        <div class='well well-lg'>
            <div class="post-title">
                <%= link_to post.title, post_path(post) %>
            </div>
            <div class='post-body'>
                <%= truncate(post.body, length: 200) %>
            </div>
            <div class='post-actions'>
                <%= link_to 'Edit this post', edit_post_path(post), class: 'btn btn-sm btn-primary' %> 
                <%= link_to 'Delete post', posts_path(post), method: :delete, 
                    data: {confirm: 'You are about to delete this post, are you sure?'},
                    class: "btn btn-sm btn-danger" %>
        
            </div>
        </div>
    </div>
</div>
<% end %>