/*
 
 *= require_tree .
 *= require_self
 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.
//$navbar-default-bg: #79a7e0;

 @import "bootstrap";

#logo {
    float: left;
    font-size: 1.7em;
    color: #f29;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    //font-weight: bolt;
    
    font-family: 'Shadows Into Light', cursive;
}
#logo:hover {
    color: #fff;
    text-decoration: none;
}
.center{
    text-align: center;
}
.jumbotron{
    margin-top: 5px;
    background-image: asset-url('story-img.png');
    background-size: cover;
    height: 600px;
}
.jumbotron h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
}
.btn-xlarge {
    font-size: 1.7em;
    position: relative;
    top: 380px;
    //width: 50%;
    //border: 3px solid #8AC007;
}
.btn-cpost{
    font-size: 1.7em;
    position: relative;
    left: 205px;
}
.post-actions{
    border-top: 1px solid #eaeaea;
    padding-top: 5px;
}

.body-desc{
    margin-top: 0;
}

.post-title{
    font-weight: bold;
    font-size: 1.2em;
}

.post-body{
    border-top: 1px solid #eaeaea;
    padding-top: 15px;
    padding-bottom: 15px;
}

.footer{
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
}
.footer a:hover{
    color: #222;
}
.footer small{
    float: left;
}
.footer ul{
    float: right;
    list-style: none;
}
.footer ul li{
    float: left;
    margin-left: 15px;
}

