/*
 
 *= require_tree .
 *= require_self
 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.
//$navbar-default-bg: #79a7e0;

 //@import "bootstrap";

#logo {
    float: left;
    font-size: 1.7em;
    //color: rgb(27, 27, 27);
    //text-transform: uppercase;
    letter-spacing: 0.8px;
    //font-weight: bolt;
    
    font-family: 'Ubuntu', sans-serif;
}
#logo:hover {
    color: #A9BDBD;
    text-decoration: none;
}
.navbar{
    font-family: 'Ubuntu', sans-serif;
}
.nav-link{
    color:rgba(255,255,255,0.75);
}
.card-link{
    color:#8c8c8c; 
}
.bg-dark{
    background:linear-gradient(#000 5%, #0000) !important
}
.container{
    font-family: 'Ubuntu', sans-serif;
}
.center{
    text-align: center;
}
.jumbotron{
    margin-top: 5px;
    background-image: asset-url('story-img.png');
    background-size: cover;
    height: 600px;
}
.jumbotron h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
}
.btn-xlarge {
    font-size: 1.7em;
    position: relative;
    top: 380px;
    //width: 50%;
    //border: 3px solid #8AC007;
}

.post-meta-details{
    border-top: 1px solid #eaeaea;
    margin-top: 10px;
}

.post-actions{
    border-top: 1px solid #eaeaea;
    padding-top: 5px;
}

.body-desc{
    margin-top: 0;
}

.card-title{
    font-weight: bold;
    font-size: 1.2em;
}

.card-body{
    //border-top: 1px solid;
    padding-top: 15px;
    padding-bottom: 15px;
}

.badge a{
    //text-transform: uppercase;
    color: rgba(255,255,255,0.75);
}

.footer{
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
}
.footer a:hover{
    color: #222;
}
.footer small{
    float: left;
}
.footer ul{
    float: right;
    list-style: none;
}
.footer ul li{
    float: left;
    margin-left: 15px;
}


