<div class="container">
    <footer class="footer">
    <small>
        Copyright &copy; pasmo & nonshark.
    </small>
    <nav>
        <ul>
            <li><%= link_to 'About', pages_about_path %></li>
        </ul>
    </nav>
    </footer>
</div>